*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 65em;
  width: 85%;
}

.btn {
  background: var(--clr-accent, rebeccapurple);
  border-radius: .30em;
  color: var(--clr-text, white);
  display: inline-block;
  font-size: 1.025rem;
  font-weight: 700;
  padding: .5em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  transition: 
    transform 250ms ease-in-out,
    opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.split > * {
  flex-basis: 30%;
  min-width: 15em;
}


.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}


.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
  line-height: 1;
  text-transform: uppercase;
  padding: 1.5rem 0;
}


.section-title {
  color: #17353d;
  line-height: 1;
  font-size: 3rem;
  font-size: clamp(2.5rem, 5vw + 1rem, 3rem);
  text-align: center;
  margin-bottom: 2rem;
}

.hero {
  background-color: #222;
  color: white; 
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  min-height: 80vh;
}

@supports(background-blend-mode: multiply) {
  .hero {
    background: url(./images/image-1.jpg), radial-gradient(#898, #777);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

section {
  margin-bottom: 2em;
}

.featured-item {
  display: block;
  position: relative;
  transform: scale(.85);
  transition: transform 250ms ease-in-out;
  text-align: center;
  text-decoration: none;
  color: #333;
  line-height: 1.2;

}

.featured-item:hover,
.featured-item:focus {
  transform: scale(1);
}

.featured-item:hover .featured-details,
.featured-item:focus .featured-details {
  opacity: 1;
  text-shadow: 0 0 1em rgba(255, 255, 255, .85);
}


.featured-details {
  width: 30vw;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.featured-details span {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  padding: .5rem 0;
}

.featured-img {
  width: 30vw;
  height: 30vw;
  object-fit: contain;
}

.product {
  padding: 3em;
  border-radius: 1em;
  margin: 3em 0;
  text-align: center;
  /* background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple)); */
}

.product-img {
  clamp(30vw, 5vw + 1em, 60vw);
}


.product-title {
  line-height: 1.1;
  font-size: 4rem;
  color: purple;
  text-shadow: 0 0 .2em rgba(0, 0, 0, .1);
}

.product-description {
  padding: 1em 0;
}

/* .hero {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}


.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}


.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
} */